body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #727272;
  color: #fff;
  padding: 10px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

header h1 {
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff6347;
}

main {
  padding: 20px 0;
}

.about-hero {
  background-color: #ff6347;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.about-hero h2 {
  margin: 0;
}

.about-content {
  padding: 20px 0;
}

.about-content .container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content h3 {
  margin-top: 0;
}

.about-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-content ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #686868;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}
